@import '../../styles/helpers';

.about {
  .content(64px 40px);
  position: relative;
  overflow: hidden;
  display: flex;

  &-info {
    width: 100%;
    max-width: 600px;
    margin-right: 10px;

    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      color: @yellow-green--dark;
      margin-bottom: 24px;
    }

    &__subtitle {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: @grey--dark;
    }
  }

  &__photo {
    .cover();
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 678px;
  }
}
