@import '../../styles/helpers';

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &-events {
    display: flex;
    margin-bottom: 12px;

    & > * {
      margin-right: 20px;

      @media @tablet {
        margin-right: 4px;
      }
    }

    &-event {
      .content(6px 16px 8px 16px, 88px, inherit);
      color: @yellow-green--dark;
      font-size: 18px;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 0.36px;
      cursor: pointer;

      @media @tablet {
        .content(6px 8px 8px 8px, 16px, inherit);
        color: @yellow-green--dark;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
      }

      &--active {
        background: #FEF6F7;
      }
    }

    @media @tablet {
      width: 100%;
      overflow-x: auto;
      margin-bottom: 20px;
    }
  }

  &-months {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 48px;

    &__content {
      width: 100%;
      max-width: 942px;
      overflow: hidden;
    }

    &__wrapper {
      overflow-x: hidden;

      &-scroll {
        z-index: 1;
        display: flex;
        flex-wrap: nowrap;
        position: relative;

        & > *:not(:last-child) {
          margin-right: 16px;

          @media @tablet {
            margin-right: 4px;
          }
        }
      }

      @media @tablet {
        overflow-x: scroll;
      }
    }

    &-month {
      height: 102px;

      &__title {
        color: @yellow-green--dark;
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.64px;

        @media @tablet {
          color: @yellow-green--dark;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%;
          margin-bottom: 2px;
          padding: 0 8px;
        }
      }

      &-dates {
        position: relative;
        display: flex;

        & > *:not(:last-child) {
          margin-right: 16px;

          @media @tablet {
            margin-right: 4px;
          }
        }

        &-date {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 8px 12px;
          cursor: pointer;

          &__number {
            color: @yellow-green--dark;
            font-size: 18px;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0.36px;

            @media @tablet {
              color: @yellow-green--dark;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%;
            }
          }

          &__name {
            color: @yellow-green--dark;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 0.36px;

            @media @tablet {
              color: @yellow-green--dark;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
            }
          }

          &__ranged {
            position: absolute;
            left: 0;
            bottom: 2px;
            z-index: -1;
            width: 0;
            height: 100%;
            background: #FFFAFB;
            pointer-events: none;
            border-radius: 12px;
          }

          &--active {
            .content(8px 12px, 12px, #FEF6F7);
            border: 1px solid #FBD2D7;
            box-shadow: 0 4px 0 0 #FBCED3;

            @media @tablet {
              .content(8px, 8px, #FEF6F7);
              box-shadow: 0 3px 0 0 #FBCED3;
            }
          }

          @media @tablet {
            padding: 8px;
          }
        }
      }

      @media @tablet {
        height: 80px;
      }
    }

    &-btn {
      &__left,
      &__right {
        .content(0, 50%, linear-gradient(125deg, #F0B 7.75%, #EA1B23 92.33%));
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        cursor: pointer;
        margin-top: 8px;
      }

      &__ico {
        max-width: 8px;
      }

      @media @tablet {
        &__left {
          position: absolute;
          bottom: -40px;
          left: 0;
          margin-top: 0;
        }

        &__right {
          position: absolute;
          bottom: -40px;
          left: 40px;
          margin-top: 0;
        }
      }
    }

    @media @tablet {
      margin-bottom: 72px;
    }
  }

  &-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;

    & > *:not(:last-child) {
      margin-bottom: 16px;
    }

    @media @tablet {
      margin-bottom: 32px;
    }
  }

  &-btn {
    .content(20px 40px, 16px, linear-gradient(125deg, #F0B 7.75%, #EA1B23 92.33%));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 30px 0 rgba(255, 255, 255, 0.25) inset, 0 4px 16px 0 rgba(249, 140, 162, 0.4);

    &__text {
      font-size: 20px;
      font-weight: 700;
      line-height: 120%;
      color: @white;

      @media @tablet {
        color: @white;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
      }
    }

    @media @tablet {
      .content(18px 32px, 16px, linear-gradient(125deg, #F0B 7.75%, #EA1B23 92.33%));
      width: 100%;
    }
  }
}
