@import '../../styles/helpers';

.afisha-event {
  .content(64px 40px);
  .flex-properties();
  position: relative;
  flex-direction: column;
  overflow: hidden;

  &-heart {
    &__fill {
      position: absolute;
      top: 125px;
      left: 48px;
    }

    &__empty {
      position: absolute;
      top: 158px;
      right: 30px;
    }

    @media @tablet {
      display: none;
    }
  }

  @media @tablet {
    .content(32px 20px);
  }
}
