@import '../../styles/helpers';

.container {
  width: 100%;
  max-width: 1350px;
  height: 100%;
  margin: 0 auto;

  & > * {
    margin: 0 20px;
  }

  & > *:not(:last-child) {
    margin-bottom: 64px;
  }
}
