@import '../../styles/helpers';

.recommendations {
  .content(0, 0, inherit);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;

    &__header {
      text-align: center;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      color: @grey;
    }
  }

  &-cards {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 60px;

    & > *:not(:last-child) {
      margin-right: 24px;
    }

    &-card {
      .content(37px 37px 16px 37px, 16px);
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;

      &__photo {
        width: 100%;
        max-width: 165px;
        height: 160px;
        margin-bottom: 37px;
      }

      &-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        &__title {
          text-align: center;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 110%;
          letter-spacing: -0.018em;
          color: @grey;
          margin-bottom: 12px;
        }
      }
    }
  }

  &-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(124.81deg, #F0B 7.75%, #EA1B23 92.33%);
    box-shadow: 0 4px 16px rgba(249, 140, 162, 0.4), inset 0 4px 30px rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    padding: 20px 40px;

    &__text {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      color: @white;
    }
  }
}
