@import '../../styles/helpers';

.recommendations {
  .content(0, 0, inherit);
  .flex-properties();
  position: relative;
  flex-direction: column;

  &-btn {
    .content(20px 40px, 16px, linear-gradient(124.81deg, #F0B 7.75%, #EA1B23 92.33%));
    .flex-properties(inline-flex);
    box-shadow: 0 4px 16px rgba(249, 140, 162, 0.4), inset 0 4px 30px rgba(255, 255, 255, 0.25);

    &__text {
      color: @white;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;

      @media @tablet {
        color: @white;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
      }
    }

    @media @tablet {
      width: 100%;
    }
  }
}
