@import '../../styles/helpers';

.materials {
  .content(64px 40px);
  .flex-properties();
  position: relative;
  flex-direction: column;
  overflow: hidden;

  &-btn {
    .content(20px 40px, 16px, linear-gradient(124.81deg, #F0B 7.75%, #EA1B23 92.33%));
    .flex-properties(inline-flex);

    &__text {
      color: @white;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;

      @media @tablet {
        color: @white;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
      }
    }

    @media @tablet {
      .content(18px 32px, 16px, linear-gradient(124.81deg, #F0B 7.75%, #EA1B23 92.33%));
      width: 100%;
    }
  }

  @media @tablet {
    .content(32px 20px);
  }
}
