@font-face {
  font-family: 'Kotex Cyrillic';
  font-weight: 300;
  src: url(../fonts/KotexCyrillic-Light.eot) format('eot'), url(../fonts/KotexCyrillic-Light.otf) format('otf'), url(../fonts/KotexCyrillic-Light.ttf) format('ttf'), url(../fonts/KotexCyrillic-Light.woff) format('woff'), url(../fonts/KotexCyrillic-Light.woff2) format('woff2'), url(../fonts/KotexCyrillic-Light.svg) format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Kotex Cyrillic';
  font-weight: 700;
  src: url(../fonts/KotexCyrillic-Bold.eot) format('eot'), url(../fonts/KotexCyrillic-Bold.otf) format('otf'), url(../fonts/KotexCyrillic-Bold.ttf) format('ttf'), url(../fonts/KotexCyrillic-Bold.woff) format('woff'), url(../fonts/KotexCyrillic-Bold.woff2) format('woff2'), url(../fonts/KotexCyrillic-Bold.svg) format('svg');
  font-display: swap;
}
