/* Media Queries */
@desktop-only: ~'(min-width: 1024px)';
@tablet: ~'(max-width: 1023px)';
@mobile: ~'(max-width: 599px)';
@mobile-small: ~'(max-width: 359px)';

/* Fonts */
@font-kp: Kotex Cyrillic;

/* Colors */
@white: #ffffff;
@white--darken: rgba(255, 255, 255, 0.4);
@grey: #363636;
@grey--dark: rgba(54, 54, 54, 0.6);
@grey--darken: rgba(54, 54, 54, 0.2);
@grey--light: #E4E4E4;
@grey--lighten: #f3f3f3;
@yellow-green--dark: #1D1D1B;
@yellow-green--light: rgba(29, 29, 27, 0.4);
@yellow-green--lighten: rgba(29, 29, 27, 0.6);
@pink--light: #FDCBD1;

// stylelint-disable
:export {
  desktoponly: @desktop-only;
  tablet: @tablet;
  mobile: @mobile;
  mobilesmall: @mobile-small;
}
